{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <table class="">
        <tr>
            <th width="200">Product</th>
            <th width="200">Quantity</th>
            <th width="200">Price</th>
        </tr>
        {% for cartProduct in cart.cartProducts %}
            {% set product = cartProduct.product %}
            <tr>
                <td width="200">
                    <a href="#">
                        {{ product.name }}
                    </a>
                    <div width="100" class="header-cart-item-img">
                        <img src="{{ product.pictureUrl }}" alt="IMG">
                    </div>
                </td>
                <td width="200">
                    {{ cartProduct.quantity  }}
                </td>
                <td width="200">
                    {{ price_format(product.price) }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}

{% endblock %}