{% extends 'base.html.twig' %}

{% block title %}Hello CollectionController!{% endblock %}

{% block body %}
    <section class="newproduct bgwhite p-t-45 p-b-105">
        <div class="container">
            <div class="sec-title p-b-60">
                <h3 class="m-text5 t-center">
                    {{ collection.name }}
                </h3>
            </div>

            <!-- Slide2 -->
            <div class="col-12">
                <div class="row">

                    {% for product in products %}
                        {% include 'collection/partials/product.html.twig' %}
                    {% endfor %}

                </div>
            </div>

        </div>
    </section>
{% endblock %}
